
@{
    ViewBag.Title = "Error";
}
<style>
    h1{
        font-size: 60px;
    }
</style>
<div class="container" style="text-align:center">
    <br />
    <br />
    <h1><span class="fa fa-cogs fa-4x"></span></h1>
    <h1>Whoops!!! Something went wrong.</h1>
    <h3>Please contact the system administrator if the problem persists.</h3>
    <p>
        <a class="btn btn-outline-dark" href="@(Url.Action("Index","Home"))">Go Home</a>
    </p>
    <br />
    <br />
</div>


